/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.center {
  text-align: center;
  h1 {
    font-size: 15vw;
  }
}

.grid-container {
  margin-top: 12px;
  margin-bottom: 12px;
}

#lap-box {
  text-align: center;
  height: 190px;
  overflow-y: scroll;
}

.b-n-w {
  background-color: #000;
  color: #FFF;
}

.data-accordian {
  height: 10vh;
  overflow-y: scroll;
}
